.page {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: darkred;
  color: white;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.logo {
  font-size: 24px;
  margin: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  align-items: center;
}

.nav-links li {
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.nav-links li:hover {
  text-decoration: underline;
}

.nav-links li a {
  color: white;
  text-decoration: none;
}

.new-btn {
  background: green;
  color: white;
  padding: 16px 24px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.new-btn:hover{
  background-color: rgb(3, 165, 3);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  

}

.card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  width: 220px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: 0.3s;
 
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 5px;
}

.card h3 {
  font-size: 18px;
  margin: 10px 0 5px;
  
}

.card p {
  color: darkred;
  font-weight: bold;
}
